<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="../../../assets/extrack-logo.png" alt="">
    <ion-input placeholder="Email" type="email" required [(ngModel)]="signupDetails.email"></ion-input>
    <ion-input placeholder="Password" type="password" required [(ngModel)]="signupDetails.password"></ion-input>
    <ion-button expand="block" color="primary" (click)="signUpWithEmail()">
      <ion-icon slot="start" name="log-in-outline" color=""></ion-icon>Sign
      up
    </ion-button>
    <p class="errorMessage" *ngIf="loginError">{{loginError}}</p>
    <p>Already have an account? <a routerLink="/public/login">Sign in!</a></p>
  </div>
</ion-content>
