<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{language['labels']['signup']}}</ion-title>
    <ion-select slot="end" okText="Ok" [cancelText]="language['exerciseSettings']['cancel']"
      [placeholder]="languageName ? languageName : 'Magyar'" [(ngModel)]="languageName" class="langSelectDropdown"
      (ionChange)="onLangChange()">
      <ion-select-option value="magyar">{{language['labels']['magyar']}}
      </ion-select-option>
      <ion-select-option value="english">{{language['labels']['english']}}</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="../../../assets/extrack-logo.png" alt="">
    <ion-input placeholder="Email" type="email" required [(ngModel)]="signupDetails.email"></ion-input>
    <ion-input [placeholder]="language['labels']['password']" type="password" required
      [(ngModel)]="signupDetails.password"></ion-input>
    <ion-button expand="block" color="primary" (click)="signUpWithEmail()">
      <ion-icon slot="start" name="log-in-outline" color=""></ion-icon>{{language['labels']['signup']}}
    </ion-button>
    <p class="errorMessage" *ngIf="loginError">{{loginError}}</p>
    <p>{{language['labels']['haveAcc']}} <a routerLink="/public/login">{{language['actions']['logIn']}}</a></p>
  </div>
</ion-content>
