<div class="exerciseContainer">
  <div class="exerciseContainerWithoutButton" (click)="openSingleWorkout()">
    <div>
      <ion-avatar slot="start">
        <img [src]="exercise['img']" />
      </ion-avatar>
    </div>
    <div>
      <p class="exerciseName">{{ exercise["name"] }}</p>
    </div>
    <p>{{ exercise["sets"] }}x{{ exercise["reps"] }}</p>
    <p>{{ exercise["weight"] }} kg</p>
  </div>
  <ion-button color="primary" (click)="onClickSettings()" color="secondary">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-button>
</div>
