#logoutButtonContainer {
  position: absolute;
  display:flex;
  justify-content:center;
  bottom:0;
  width:100%;
  padding: 20px;
}
ion-button {
  width: 250px;
}

.emailDiv{
  display:flex;
  justify-content:center;
}