<ion-header>
  <ion-toolbar>
    <ion-button
      color="primary"
      slot="start"
      class="navButton"
      (click)="dismissModal()"
    >
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Edit exercise</ion-title>
    <ion-button
      color="primary"
      slot="end"
      class="navButton"
      (click)="onSaveExercise()"
      color="secondary"
    >
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="exercise['img']" *ngIf="exercise['img']"></ion-img>
  <ion-spinner
    name="circles"
    *ngIf="exercise['img'].length === 0"
  ></ion-spinner>
  <ion-list>
    <ion-item>
      <ion-button color="primary" (click)="takePicture()"
        ><ion-icon name="swap-vertical-outline"></ion-icon>Change
        image</ion-button
      >
    </ion-item>
    <ion-item>
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <div>
        <ion-card-subtitle>Name</ion-card-subtitle>
        <ion-input [(ngModel)]="exercise['name']"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="accessibility-outline" slot="start"></ion-icon>
      <div>
        <ion-card-subtitle>Body part</ion-card-subtitle>
        <ion-input [(ngModel)]="exercise['bodyPart']"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="refresh-outline" slot="start"></ion-icon>
      <div>
        <ion-card-subtitle>Sets</ion-card-subtitle>
        <ion-input [(ngModel)]="exercise['sets']"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="repeat-outline" slot="start"></ion-icon>
      <div>
        <ion-card-subtitle>Reps</ion-card-subtitle>
        <ion-input [(ngModel)]="exercise['reps']"></ion-input>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <div>
        <ion-card-subtitle>Weight (kg)</ion-card-subtitle>
        <ion-input [(ngModel)]="exercise['weight']"></ion-input>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
