.excInput {
  max-width: 50px !important;
  text-align: center;
  input {
    padding: 0px !important;
  }
}

.sc-ion-input-md-h {
  --padding-top: 0px !important;
  --padding-end: 0px !important;
  --padding-bottom: 0px !important;
  --padding-start: 0px !important;
}
.reqStar {
  color: var(--ion-color-danger);
}
// ion-label {

//   max-width: 20px !important;
// }
img {
    /**
     * Bug fix for:
     * https://github.com/ionic-team/ionic/issues/18734
     */
    min-height: 1px !important;
	margin-top:1px !important;
}
