<ion-header>
  <ion-toolbar>
    <ion-button color="primary" slot="start" class="navButton" (click)="goBackToHomePage()">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">{{ currentDay}}</ion-title>
    <ion-button color="primary" slot="end" class="navButton">
      <ion-icon name="save-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-title>Add an exercise</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label position="fixed">Name:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Bodypart:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Sets:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Reps:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" slot="start">Upload image</ion-label>
    <ion-input disabled></ion-input>
    <ion-icon name="add-outline" slot="start"></ion-icon>
  </ion-item>
</ion-content>
