.dayHeaderContainer {
  margin: 50px 0px;
  .dayHeader {
    text-align: center;
    color: darkgray;
  }
  .addButton{
    margin-top:10px;
  }
}

app-single-workout-excercise{
  width:100%;
  margin: 10px 0px;
}
