<div class="dayHeaderContainer">
  <p class="dayHeader">
    {{ day }}
  </p>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Exercises</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let exc of exercises" class="center-content">
          <app-single-workout-excercise [exercise]="exc"></app-single-workout-excercise>
        </ion-item>
      </ion-list>
      <div class="center-content addButton">
        <ion-button (click)="addExc()" color="primary">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</div>
